.donors-block {
  padding: 120px 0 115px;
  @include breakpoint(768px down) {
    padding: 20px 0 15px;
  }
  .dots {
    margin-bottom: 75px;
    @include breakpoint(768px down)  {
      margin-bottom: 15px;
    }
  }
  img {
    display: inline-block;
    vertical-align: middle;
    min-height: 80px;
    border-radius: 100%;
    margin-bottom: 15px;
  }
  a {
    color: $main-grey;
    font: 300 14px/20px $body-font-family;
    margin: 0;
    text-transform: none;
  }
}