.donors-block {
  padding: 120px 0 115px;

  .dots {
    margin-bottom: 75px;
  }
  img {
    display: inline-block;
    vertical-align: middle;
    min-height: 80px;
    border-radius: 100%;
    margin-bottom: 15px;
  }

}