footer {
  padding: 35px 0 30px;
  background: #202020;
  height: 80px;
  .year {
    margin-right: 5px;
  }
  li {
    margin-right: 5px;
    &:nth-child(n+2) {
      :before {
        color: #fff; /* Цвет маркера */
        content: "•"; /* Сам маркер */
        padding-right: 5px; /* Расстояние от маркера до текста */
      }
    }

    a {
      color: #fff;
      font-size: 12px;
      text-transform: capitalize;
    }
  }
}