.article-top {
  background: #000;
  padding: 0 0 45px;
 /* margin-bottom: 80px;*/
  position: relative;
  .header-slider {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    .header-slade-wrapper {
      min-height: 762px;
      height: 100%;
      &.slide-1 {
        background: url("../img/city-sunny-people-street-1.jpg") no-repeat 50%/cover;
      }
      &.slide-2 {
        background: url("../img/new-york-street-people.jpg") no-repeat 50%/cover;
      }
      &.slide-3 {
        background: url("../img/m48.jpg") no-repeat 50%/cover;
      }
      &:before {
        content: " ";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(25, 11, 35, 0.7);
      }
    }
   /* .slick-dots {
      margin: 0 auto;
      position: absolute;
      bottom: 30px;
      left: 50%;

      transform: translateX(-50%);*/
      /*li {
        width: 68px;
        background: rgba(130, 126, 135, 0.4);
        border-radius: 50%;
        height: 7px;
        margin: 15px 15px 15px 0;
      }
      .slick-active {
        background: rgba(117, 61, 157, 0.4);
      }*/
  }
}

.header {
  height: 100px;
  padding-top: 45px;
  padding-bottom: 45px;
  a {
    color: #fff;}
  ul {
    padding-top: 10px;
    padding-bottom: 10px;
    li {
      display: inline-block;
      margin-right: 30px;
      line-height: 1;
      .active {
        &:before {
          position: absolute;
          content: '';
          left: 0;
          top: -42px;
          width: 100%;
          height: 5px;
          background: #fff;
        }
      }
      &:last-child { margin-right: 0; }
      a {
        position: relative;
        text-align: center;
        //padding-top: 45px;

        &:hover, &:active {
          &:before {
            position: absolute;
            content: '';
            left: 0;
            top: -42px;
            width: 100%;
            height: 5px;
            background: #fff;
          }
        }
      }
    }
  }
}

.article-title {
  margin: 140px 0 120px;
  h1 {
    margin-bottom: 20px;
  }
  p {
    font-size: 18px;
    letter-spacing: 1px;
    color: rgba(#fff, 0.6) ;
    margin-bottom: 75px;
  }
}
.article-list {
  h3 {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 22px;
  }
  p {
    color: rgba(#fff, 0.6);
  }
}
.header-wrapper {
  position: relative;
}

.header-slider {
  .slick-list {
    margin: 0 -15px;
  }
  .slick-arrow {
    color: transparent;
    font-size: 0;
    position: absolute;
    width: 30px;
    height: 20px;
    top: 0;
  }
}
/*.header-wrapper:before {
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(25, 11, 35, 0.6);
}*/