.article-top {
 //background: $dark-background ;
  height: 100%;
  //padding: 0 0 45px;
 /* margin-bottom: 80px;*/
  position: relative;

  .header-slider {
    background: $dark-background center center/cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    .header-slade-wrapper {
      min-height: 762px;
      &.slide-1 {
        background: $dark-background url("../img/city-sunny-people-street-1.jpg") no-repeat center center/cover;
      }
      &.slide-2 {
        background: $dark-background url("../img/new-york-street-people.jpg") no-repeat 50%/cover;
      }
      &.slide-3 {
        background: $dark-background url("../img/m48.jpg") no-repeat 50%/cover;
      }
      &:before {
        content: " ";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba($dark-background, 0.6);
      }
    }
    .slick-list {
      margin: 0 -15px;
      height: 100%;
    }
    .slick-arrow {
      color: transparent;
      font-size: 0;
      position: absolute;
      width: 30px;
      height: 20px;
      top: 0;
    }
  }
  .title-bar {
    background: transparent;
    //.title-bar-title {
     // font: 400 14px $body-font-family;
      //color: $main-white;
    //}
  }
}

.header {
  height: 100px;
  padding-top: 45px;
  padding-bottom: 45px;
  @include breakpoint(640px down) {
    height: 40px;
    padding: 20px 0;
  }
  a {
    color: $main-white;
    @include breakpoint(640px down) {
      font-size: 8px;
    }
  }
  ul {
    padding-top: 10px;
    padding-bottom: 10px;
    li {
      display: inline-block;
      margin-right: 30px;
      line-height: 1;
      @include breakpoint(787px down) {
        font-size: 10px;
        margin-right: 10px;
      }
      @include breakpoint(640px down) {
        font-size: 8px;
      }
      .active {
        &:before {
          position: absolute;
          content: '';
          left: 0;
          top: -42px;
          width: 100%;
          height: 5px;
          background: $main-white;
          @include breakpoint(640px down) {
          top: -12px;
          height: 3px;
          }
        }
      }
      &:last-child { margin-right: 0; }
      a {
        position: relative;
        text-align: center;
        //padding-top: 45px;
        &:hover, &:active {
          &:before {
            position: absolute;
            content: '';
            left: 0;
            top: -42px;
            width: 100%;
            height: 5px;
            background: $main-white;
            @include breakpoint(640px down) {
              top: -12px;
              height: 3px;
            }
          }
        }
      }
    }
  }
}

.article-title {
  margin: 140px 0 120px;
  @include breakpoint(787px down) {
    margin: 20px 0 20px;
  }
  h1 {
    margin-bottom: 20px;
  }
  p {
    font-size: 18px;
    letter-spacing: 1px;
    color: rgba($main-white, 0.6) ;
    margin-bottom: 75px;
    @include breakpoint(787px down) {
      margin-bottom: 35px;
    }
  }
}

.header-wrapper {
  position: relative;
  .article-title {
    margin: 140px 0 120px;
    @include breakpoint(965px down) {
      margin: 40px 0 20px;
    }
    h1 {
      margin-bottom: 20px;
    }
    p {
      font-size: 18px;
      letter-spacing: 1px;
      color: rgba($main-white, 0.6) ;
      margin-bottom: 75px;
      @include breakpoint(965px down) {
        margin-bottom: 35px;
      }
    }
  }
  .article-list {
    margin-bottom: 45px;
    h3 {
      font-size: 14px;
      color: $main-white;
      text-transform: uppercase;
      margin-bottom: 20px;
      @include breakpoint(465px down) {
        margin-bottom: 10px;
      }
    }
    p {
      color: rgba($main-white, 0.6);
      font-size: 12px;
      //margin-bottom: 10px;
    }
    @include breakpoint(465px down) {
      margin-bottom: 15px;
    }
  }
}
