.help-block {
  padding: 115px 0;
  .way-to-help {
    margin-bottom: 25px;
  }
  .dots {
    margin-bottom: 75px;
  }
  .smart-object-holder {
    display: inline-block;
    vertical-align: middle;
    min-height: 80px;
    min-width: 80px;
    border: 2px solid #f3f3f3;
    border-radius: 100%;
    margin-bottom: 15px;
    img {

    }
  }
}