.help-block {
  padding: 115px 0 70px;
  @include breakpoint (768px down) {
    padding: 20px 0 20px;
  }
  .way-to-help-holder {
    margin-bottom: 45px;
  }
  .smart-object-holder {
    display: inline-block;
    height: 80px;
    width: 80px;
    border: 2px solid #ece8f1;
    border-radius: 100%;
    margin-left:-15px;
    img {
      height: 40px;
      width: 40px;
      margin-top: 18px;
      color: $main-dark;
    }
  }
}