html, body {
  height: auto;
  overflow-x: hidden;
  font-family: $body-font-family;
  width: 100%;
  line-height: 1;
}
body {
  margin: 0;
}
ul {
  font-size: 0;
  margin: 0;
  padding: 0;
 list-style-type: none;
}
li {
  margin: 0;
  list-style: none;
  display: inline-block;
}
p {
  color: $main-grey;
  font: 300 14px/20px $body-font-family;
  margin: 0;
}
span {
  display: inline-block;
}
h1 {
  color: $main-white;
  font: 400 60px $body-font-family;
  margin: 0;
  letter-spacing: 1px;
  @include breakpoint(640px down) {
    font-size: 40px;
  }
}
h2, h3, h4 {
  color: $main-dark;
}
h2 {
  font: 400 28px $body-font-family;
  margin: 0 0 20px;
}
h3 {
  font: 400 18px $body-font-family;
  margin: 0;
}
