html, body {
  height: auto;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  line-height: 1;
}
body {
  margin: 0;
}
ul {
  font-size: 0;
  margin: 0;
  padding: 0;
 list-style-type: none;
}
li {
  margin: 0;
  list-style: none;
  display: inline-block;
}
p {
  color: #807996;
  font: 300 14px/20px 'Montserrat', sans-serif;
  margin: 0;
}
span {
  display: inline-block;
}
h1 {
  color: #ffffff;
  font: 400 60px 'Montserrat', sans-serif;
  margin: 0;
  letter-spacing: 1px;
}
h2, h3, h4 {
  color: #150c31;
}
h2 {
  font: 400 28px 'Montserrat', sans-serif;
  margin: 0 0 20px;
}
h3 {
  font: 400 18px 'Montserrat', sans-serif;
  margin: 0;
}
