html, body {
  height: auto;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  line-height: 1;
}
body {
  margin: 0;
}

ul {
  font-size: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  margin: 0;
  list-style: none;
  display: inline-block;
}
p {
  color: #807996;
  font: 300 14px/20px 'Montserrat', sans-serif;
  margin: 0;
}

span {
  display: inline-block;
}

h1 {
  color: #ffffff;
  font: 400 60px 'Montserrat', sans-serif;
  margin: 0;
  letter-spacing: 1px;
}

h2 {
  color: #150c31;
  font: 400 28px 'Montserrat', sans-serif;
  margin: 0 0 25px;
}
h3 {
  color: #150c31;
  font: 400 18px 'Montserrat', sans-serif;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font: 400 15px/18px 'Montserrat', sans-serif;
  transition: all ease-in-out 0.2s;
  color: #150c31;
  &:hover, &:active {
    color: #753d9d;
  }
}
.bordered {
  position: relative;
  padding-left: 19px;
  &:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background: #753d9d;
    border-radius: 5px;
  }
}