.shop-block {
  height: 100%;
  background: $light-background;
  @include breakpoint (1024px down) {
    text-align: center;
    //height:100%;
  }
  .shop-holder {
    padding: 140px 0 120px;
    @include breakpoint (768px down) {
      padding: 20px 0 20px;
    }
    p {
      margin-bottom: 35px;
    }
  }
  img {
    height: 100%;
    //bottom: 0;
   // transform: translateX(50%);
  }
}



